body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	@apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.container {
	@apply pr-3;
	@apply pl-3;

	@apply sm:pr-0;
	@apply sm:pl-0;
}
.splide {
	padding: 0 !important;
}

::selection {
	background-color: $details2;
	color: $primary;
}

.fixed_body {
	@apply overflow-hidden;
}
