@import '/src/assets/scss/base/variables';
.navBar {
	background-color: $primary;
	@apply select-none;

	.navegationResponsive {
		@apply flex;
		@apply md:hidden;
	}

	.navegation {
		@apply hidden;
		@apply md:block;
	}
}

.navegation {
	@apply md:container;
	@apply md:mx-auto;
	ul {
		@apply flex;
		@apply justify-center;
		@apply gap-0;

		@apply lg:gap-7;
		@apply xl:gap-10;
		li {
			@apply p-6;
			a {
				@apply uppercase;
				@apply text-xl;
				@apply font-bold;
				@apply text-white;

				&:hover {
					@apply border-b-2;
					border-color: $secondary;
				}
			}
		}
	}
}

.navegationResponsive {
	@apply flex;
	@apply flex-col;
	@apply items-center;

	.icon {
		@apply text-white;
		@apply p-5;
		@apply cursor-pointer;
	}

	ul {
		@apply flex;
		@apply flex-col;
		@apply items-center;
		@apply justify-center;
		@apply gap-2;
		transition: visibility 2s linear;
		li {
			@apply p-3;
			a {
				@apply uppercase;
				@apply text-xl;
				@apply font-bold;
				@apply text-white;

				&:hover {
					@apply border-b-2;
					border-color: $secondary;
				}
			}
		}
	}
}

.isActive {
	@apply border-b-2;
	border-color: $secondary;
}

.show {
	@apply max-h-96;
	transition: max-height 1s;
}

.hide {
	@apply max-h-0;
	@apply overflow-hidden;
	transition: max-height 1s;
}

.sticky {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	animation: myAnim 0.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
